<div class="container mt-5">
    <div class="card bg-light"style="width:20rem; border-radius:2rem">
        <img src={{datafromParent.cardImage}} class="card-img " style="border-radius: 2rem;">
        <div class="card-body ">
            <h4 class="card-title" style="text-align: center;">{{datafromParent.cardTitle}}</h4>
            <p class="card-text"style="text-align: center;" >{{datafromParent.cardBody}}</p>
        </div>
        <button href="#" class="btn btn-primary mx-auto" style="border-radius: 1.5rem;" (click) = "sendDataToParent()">Click Here!</button>
        
    </div>
    
</div>
